.booklist {
  padding: 50px;
}

.booklist-empty {
  text-align: center;
  color: #4386bf;
  padding: 10px;
}

.booklist-empty h2 {
  font-weight: 400;
}

.filter {
  position: absolute;
  right: 55px;
  top: 10px;
  font-size: 12px;
}

.filter img {
  height: 20px;
}

@media only screen and (max-width: 768px) {
  .booklist {
    padding: 10px 20px 50px;
  }
}
