nav {
  display: flex;
  align-items: center;
  padding: 24px 50px;
  height: 95px;
  background-color: #fff;
  border-bottom: 1px solid #e8e8e8;
}

.profile {
  position: absolute;
  right: 100px;
  height: 45px;
  width: 45px;
}

nav ul {
  display: flex;
  padding: 0;
  list-style: none;
}

nav h1 {
  font-size: 30px;
  margin-right: 40px;
  color: #0290ff;
}

nav li:last-child {
  margin-left: 40px;
}

.link {
  font-size: 13px;
  text-decoration: none;
  color: #b4b4b4;
  transition: 0.3s;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.active {
  font-size: 13px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
}

.link-img {
  position: relative;
  top: 3px;
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

@media only screen and (max-width: 768px) {
  nav {
    flex-direction: column;
    padding: 10px 10px;
    height: 160px;
  }

  .profile {
    display: none;
  }

  nav ul {
    right: 0;
  }

  nav h1 {
    text-align: center;
    margin-right: 0;
  }

  nav li:last-child {
    margin-left: 30px;
  }
}
