.bookForm {
  padding: 25px 0 100px;
  color: #2c1810;
  border-top: 2px solid #e8e8e8;
  width: 90%;
  margin: 0 auto;
}

.bookForm img {
  width: 40px;
  height: 40px;
  margin-bottom: 5px;
}

.bookForm h2 {
  margin-top: 0;
  margin-bottom: 0;
  color: #888;
  font-size: 20px;
}

form {
  padding: 15px 0 0;
}

form input,
select {
  margin-right: 30px;
  border: none;
  background-color: #fff;
  padding: 13px;
  border-radius: 5px;
}

#title {
  width: 32%;
}

#author {
  width: 30%;
}

form button {
  padding: 13px 30px;
  background-color: #0290ff;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  transition: 0.3s;
}

form button:hover {
  background-color: #2c1810;
}

@media only screen and (max-width: 768px) {
  .bookForm {
    padding-left: 20px;
    padding-right: 20px;
  }

  #title {
    width: 100%;
    margin-bottom: 25px;
  }

  #author {
    width: 100%;
    margin-bottom: 25px;
  }
}
