* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  min-width: 400px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

.app-cont {
  padding: 60px 50px;
  background-color: #f3e5d0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../public/wood.jpg');
}

.app {
  border-radius: 45px;
  background-color: #f8f3ed;
}

#error-page {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../public/error.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  padding-top: 100px;
  align-items: center;
  color: #fff;
  flex-direction: column;
}

#error-page h1 {
  font-size: 100px;
  font-weight: 300;
  letter-spacing: 4px;
  margin-bottom: 0;
}

#error-page p {
  font-weight: 400;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #dcdcdc;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(145, 145, 145);
}

@media only screen and (max-width: 768px) {
  .app-cont {
    padding: 40px 20px;
  }
}
